#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}


port: {{ nats_port }}
http_port: {{ nats_http_port }}
server_name: {{ nats_name }}

include nats-sys.conf

accounts: [
  {
    {{ nats_account.name }}: {
      users: [
        {% for user in nats_account.users %}
        { user: {{ user.user }}, password: {{ user.password }} },
        {% endfor %}
      ],
  }
]

{% if hostvars[host]|length > 1 %}
cluster: {
  name: {{hostvars[ansible_hostname].name}},
  port: {{ default_cluster_port + loop.index }},
  routes: [
  {% for host in group['all'] %}
    "nats-route://{{hostvars[host].ansible_hostname}}:{{nats_cluster[host].port}}",
  {% endfor %}
  ],
}
{% endif %}

{% if nats_jetstream_enabled %}
jetstream {
  {% if nats_jetstream_max_mem %}
  max_mem: {{ nats_jetstream_max_mem }}
  {% endif %}
  {% if nats_jetstream_max_file %}
  max_file: {{ nats_jetstream_max_file }}
  {% endif %}
  {% if nats_jetstream_store_dir %}
  store_dir: {{ nats_jetstream_store_dir }}
  {% endif %}
}
{% endif %}


cluster: {
  name: east,
  port: 6222,
  routes: [
    "nats-route://0.0.0.0:6222"
  ],
}

gateway: {
  name: "east",
  port: 7222,
  gateways: [
    {name: "east", urls: ["nats://0.0.0.0:7222"]},
    {name: "central", urls: ["nats://0.0.0.0:7223"]},
    {name: "west", urls: ["nats://0.0.0.0:7224"]},
  ]
}