#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}


port: {{ nats_port }}
http_port: {{ nats_http_port }}
server_name: {{ nats_name }}

include nats-sys.conf

{% if nats_accounts|length %}
accounts: {
  {% for nats_account in nats_accounts %}
    {{ nats_account.name }}: {
      jetstream: enabled,
      users: [
        {% for user in nats_account.users %}
          { user: {{ user.user }}, password: {{ user.password }} },
        {% endfor %}
      ],
    {% endfor %}
  }
}
{% endif %}

{% if hostvars|length > 1 %}
cluster: {
  name: {{ inventory_hostname }},
  port: {{ (groups['main'] | sort).index(inventory_hostname) + default_nats_cluster_port }},
  routes: [
  {% for host in (groups['main'] | sort) %}
    "nats-route://{{host}}:{{(groups['main'] | sort).index(host) + default_nats_cluster_port}}",
  {% endfor %}
  ],
}
{% endif %}

{% if nats_jetstream_enabled %}
jetstream {
  {% if nats_jetstream_max_mem %}
  max_mem: {{ nats_jetstream_max_mem }}
  {% endif %}
  {% if nats_jetstream_max_file %}
  max_file: {{ nats_jetstream_max_file }}
  {% endif %}
  {% if nats_jetstream_store_dir %}
  store_dir: {{ nats_jetstream_store_dir }}
  {% endif %}
}
{% endif %}