# {{ ansible_managed }}

[Unit]
Description="Prometheus NATS Exporter"
After=network.target nats-server.service

[Service]
Type=simple
RestartSec=5s
Restart=on-failure
User=nats
Group=nats
ExecStop=/bin/kill -s SIGINT $MAINPID
#ExecReload=/bin/kill -s HUP $MAINPID
ExecStart=/usr/bin/prometheus-nats-exporter{% if nats_exporter_export_channelz %} -channelz{% endif %}{% if nats_exporter_export_connz %} -connz{% endif %}{% if nats_exporter_export_healthz %} -healthz{% endif %}{% if nats_exporter_export_gatewayz %} -gatewayz{% endif %}{% if nats_exporter_export_accstatz %} -accstatz{% endif %}{% if nats_exporter_export_leafz %} -leafz{% endif %}{% if nats_exporter_export_routez %} -routez{% endif %}{% if nats_exporter_export_serverz %} -serverz{% endif %}{% if nats_exporter_export_subz %} -subz{% endif %}{% if nats_exporter_export_varz %} -varz{% endif %} http://127.0.0.1:8222

[Install]
WantedBy=multi-user.target
